.star {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #ff0;
  border-left: 100px solid transparent;
  transform: rotate(35deg);
}

.star:before {
  content: '';
  position: absolute;
  top: -45px;
  left: -65px;
  display: block;
  width: 0;
  height: 0;
  border-bottom: 80px solid #ff0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  transform: rotate(-35deg);
}

.star:after {
  content: '';
  position: absolute;
  top: 3px;
  left: -105px;
  display: block;
  width: 0;
  height: 0;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #ff0;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
}